spring:
  application:
    name: mmh-util
  main:
    web-application-type: none
    banner-mode: off
  ai:
    mcp:
      server:
        name: ${spring.application.name}
        version: 1.0.0
        type: SYNC
        stdio: true
        capabilities:
          tools: true
          resource: true
          prompt: true
          completion: true

logging:
  level:
    root: info

mmh:
  http:
    proxy:
      # HTTP proxy (env: http_proxy)
      http-proxy: ${http_proxy:}
      # HTTPS proxy (env: https_proxy)
      https-proxy: ${https_proxy:}
  search:
    searxng:
      # SearXNG base url
      base-url: ${SEARXNG_API_URL:}
      # Request timeout in ms
      timeout-ms: 10000
      # Request method: GET/POST
      method: POST
